.homeview-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fab {
  margin: 0px;
  right: -10px;
  bottom: 20px;
  position: fixed;
}
